@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@800&display=swap');
:root {
    --color-1: #b2b2b1;
    --color-2: #ffffff;
    --color-2-transparent: rgba(255, 255, 255, 0.5);
    --color-3: #e5007d;
    --color-4: #0d1a29;
    --color-4-transparent: #0d1a29aa;
    --color-1-dark: #80807d;
    --color-2-dark: #b5b5b5;
    --color-2-dark-tranparent: rgba(255, 255, 255, 0.05);
    --color-3-dark: #a3005a;
    --color-4-dark: #0a131e;
    --color-4-dark-transparent: #0a131e44;
    --color-1-lite: #b3b3b3;
    --color-2-lite: #d3d3d3;
    --color-2-lite-transparent: rgba(255, 255, 255, 0.7);
    --color-3-lite: #d5599b;
    --color-4-lite: #4e7097;
    --font: 'Lato', serif;
    --font-header: 'Poppins', 'Roboto', sans-serif
  } 

body {
    font-family: var(--font)
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 40px;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.container:not(.grid) {
    margin-bottom: 40px
}

p {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

a, a:hover, a:active, a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: 0
}

.social {
    padding-top: 10px
}
ul.social {
    list-style-type: none;
    padding-inline-start: 0;
}
ul.social li {
    display: inline;
}
ul.social li:after {
    content: ',';
}
ul.social li:last-child:after {
    content: '';
}

ul {
    list-style: none;
    margin: 0;
    margin-left: 0;
    padding-left: 10px
}

.container ul:not(.social):not(.language-chooser) li {
    padding-left: 20px;
    padding-bottom: .2em;
    text-indent: -0.75em
}

.container ul:not(.social):not(.language-chooser) li:before {
    content: '\2022';
    padding-right: 5px
}

header {
    font-family: var(--font-header);
    font-size: 3.25em;
    font-weight: bold;
    letter-spacing: -0.06em;
    font-weight: 800;
    line-height: 0.78em;
    text-align: left;
    text-transform: lowercase;
    color: var(--color-4);
    margin-bottom: 0.2em;
    margin-left: -0.1em;
}


header.name {
    letter-spacing: -0.08em;
}

.container a.name {
    text-decoration: none;
    color: var(--color-4);
}
.container a:not(.image):not(.name) {
    font-weight: 500;
    color: var(--color-3);
    position: relative;
    font-style: italic;
    text-decoration: none;
}
.container a:not(.image):not(.name):after {
    content: ' ';
    background: var(--color-3);;
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 0;
    transition: width .1s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s;
}

.container a:not(.image):not(.name):hover:after {
    content: ' ';
    background: var(--color-3);
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 4px;
    width: 100%;
    transition: width .2s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s;
}

.work-container {
    text-align: center;
    margin: auto
}

.work {
    text-align: left;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 1em;
}

.work .grid-item {
    position: absolute;
}

.work .grid-item>.image {
    transition: opacity .4s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    margin: 0;
    padding: 0;
    z-index: 0
}

.work .grid-item .grid-item-overlay {
    color: var(--color-2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .8s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s;
    opacity: 0;
    display: table;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    box-sizing: border-box;
}

.work .grid-item .grid-item-overlay:hover {
    transition: opacity .8s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s;
    opacity: 1
}

.work .grid-item .grid-item-overlay:hover .text {
    transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition-delay: .125s;
    opacity: 1;
    transform: translateY(0) skewX(0deg)
}

.work .grid-item .grid-item-overlay::before {
    width: 100%;
    height: 100%;
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .7;
    background: var(--color-3-dark)
}

.work .grid-item .grid-item-overlay>.text {
    padding: 20px;
    display: table-cell;
    vertical-align: middle;
    transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition-delay: 0s;
    opacity: 0;
    transform: translateY(8px) skewY(2deg)
}

.work .grid-item div.text>.title {
    font-size: 1.1em;
    font-family: var(--font-header);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 2px;
    letter-spacing: -0.06em;
}

.work .grid-item div.text>.info {
    font-size: 0.8em;
    text-align: center;
    position: relative;
    font-weight: 300;
    max-width: 220px;
    margin: auto;
    text-transform: lowercase;
}

.footer {
    margin-top: 3em;
    text-align: center;
    font-size: 0.8em;
    color: var(--color-1);
}

.footer a:not(.image):not(.name), .footer a:not(.image):not(.name):hover {
    color: var(--color-1-dark);
}

.footer a:not(.image):not(.name):after, .footer a:not(.image):not(.name):hover:after {
    background: var(--color-1-dark);
    height: 2px;
}

figure { margin-inline-start: 0;margin-inline-end: 0; margin-block-end: 0; margin-block-start: 0;}

.container article.list-item h1 {
    margin-bottom: 0.1em;
}
.container article.list-item h1 a:not(.image):not(.name) {
    font-weight: 900;
    letter-spacing: -0.06em;
    text-transform: lowercase;
    color: var(--color-4-dark);
}
.container article.list-item h1 a:not(.image):not(.name), .container article.list-item h1 a:not(.image):not(.name):hover {
    color: var(--color-4-dark);
}

.container article.list-item h1 a:not(.image):not(.name):after, .container article.list-item h1 a:not(.image):not(.name):hover:after {
    background: var(--color-4-dark);
}
.container article.list-item a:not(.image):not(.name):after, .container article.list-item a:not(.image):not(.name):hover:after {
    height: 2px;
}
.container article.list-item time {
    text-transform: lowercase;
    font-style: italic;
}
.container article.list-item code {
    font-size: 0.8em;
}
.container article.list-item pre {
    margin: 0.6em 0;
}

.container.back {
    margin: 0 auto;
    font-size: 2em;
}

ul.language-chooser  {
    display: inline;
}
ul.language-chooser li {
    display: inline;
    list-style: none;
}

ul.language-chooser li img {
    width: 20px;
}
@media screen and (max-width: 479px) {
    header {
        font-size: 2.3em;
        letter-spacing: -0.08em;
        line-height: 0.78em;
    }
    header.name {
        text-align: right;
        margin-bottom: 0.4em;
    }
}

