
<!DOCTYPE html>
<html lang="en">
{{ partial "head.html" . }}
<body>
  {{ partial "header.html" . }}

  <div class="container">
    {{ $pages := sort (where .Site.RegularPages "Type" "in" "posts") ".Params.date" "desc" }}
    {{ range $pages }}
    <article class="list-item">
      <h1 class="title"><a href="{{ .RelPermalink }}">{{.Title}}</a></h1>
      <time>{{ dateFormat "Mon, 02 Jan 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</time>
      <div class="description">
        {{ .Summary }}
      </div>
      {{ if .Truncated }}
      <a href="{{ .Permalink }}" class="more">read more...</a>
      {{ end }}
    </article>
    {{ end }}  
  </div>
  
  {{ partial "footer.html" . }}
</body>
</html>